.bar {
  -webkit-transition: width 2.0s ease !important;
     -moz-transition: width 2.0s ease !important;
       -o-transition: width 2.0s ease !important;
          transition: width 2.0s ease !important;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #000 -moz-use-text-color #000;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

#pretestslider .slider-selection {
	background: #BABABA;
}
